extends header
block content
  div#about-contenter
    section.myinfo
      h2.title Personal Information
      p.frame
        img.perpic(src='images/myphoto.jpg')
      section.pertext
        h3 My name is Steve Zeidner. I’m a developer and desi安全与维护,网络操作系统,数据库sign stuff and build apps for the web, iOS and Android.
        p
          |I am a ner安全与维护,网络操作系统,数据库e topics of web development, ultrarunning, design, skateboarding, writing, podcasting, drumming, or whatever else you would like to pick my brain about.
          |Every website I build is a new challenge to design something unique and usable. I pay attention to the small details; every pixel matters to me. I also believe in open web standards and develop with the latest web technologies.
          |I am very passionate about ultrarunning and the community around the sport. A good long run through the woods helps clear the mind after a long day of building websites.
          |I do a little video podcasting from time to time when I’m feeling inspired to talk about a particular topic. I’ve also done some videos in the past that (if you can forgive the quality), you might find entertaining.
          |I play drums with the worship band at my church every Sunday. Way back when, I played with a band called Diakonashi.
      .clear
    section.myinfo
      h2.title My Works
